body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
    
    min-width: 100px;
    margin: 0;
    padding: 0;

  /*  Пример подключения изображения из папки  img */
  background-image: url("../img/bg-promo.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    padding-top: 35px;
    padding-bottom: 80px;
    background-color: #6451d5;
}

.header-top {
    padding-bottom: 10px;
    margin-bottom: 80px;
  
}

.header-top::after {
    display: table;
    clear: both;
    content: "";
}

.logo {
    width: 185px;
    height: 85px;
    float: left;
}

.logo img {
    display: block;
}

.main-menu {
    width: 670px;
    float: right;
    margin-top: 25px;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    margin-right: 50px;   
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
    color: white;
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: underline;
}

.main-menu a:active {
    text-decoration: none;
    opacity: 0.3;
}

.promo {
    width: 425px;
    position: relative;
    z-index: 10;
}

.promo::after {
    content: "";
    position: absolute;
    top: -14px;
    left: 380px;
    z-index: -1;
    width: 655px;
    height: 445px;
    background-image: url("../img/bg-promo2.png");
    background-repeat: no-repeat;
}

.promo-title {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: white;
}

.promo p {
    margin: 0;
    margin-bottom: 55px;
    padding-right: 30px;
    color: #bcb3f2;
    font-size: 18px;
    line-height: 30px;
}

.btn {
    display: inline-block;
    padding: 20px 80px;
    font-size: 20px;
    line-height: 24px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #999999;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-blue {
     background: #382d78;
}

.btn-blue:hover {
     background: #32286c;
}

.btn-blue:active {
     background: #32286c;
}

/*    *********************** Features  ********************        */

.features {
    padding-top: 50px;
    padding-bottom: 45px;
    background-color: #efefef;
}

.features .container::after {
    display: table;
    clear: both;
    content: "";
}

.features-item {
    position: relative;
    width: 320px;
    float: left;
    margin-right: 30px;
    text-align: center;
}

.features-item:last-child {
    margin-right: 0px;
}

.features-title {
    margin-top: 90px;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 24px;
    font-family: Trebuchet MS;
}

.features-item p {
    margin: 0;
    color: #555555;
    font-size: 18px;
    font-family: Tahoma;
    line-height: 24px;
}

.features-icon {
    position: absolute;
    top: 0px;
    left: 135px;
    width: 60px;
    height: 60px;
}

.features-icon-adv1 {
    background-image: url("../img/adv1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-icon-adv2 {
     background-image: url("../img/adv2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-icon-adv3 {
    background-image: url("../img/adv3.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.types {
    background-color: #ffffff;
    border: 1px solid #ffffff;
     padding-bottom: 70px;
}

.types .container::after {
    display: table;
    clear: both;
    content: "";
}

.types-title {
    margin-bottom: 60px;
    font-size: 40px;
    font-family: Trebuchet MS;
    line-height: 50px;
}

.types-table table {
     border: 2px solid #b2b2b2;
    border-collapse: collapse;
}

.types-table td {
    border: 2px solid grey;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 35px;
}

.types-table .line1 {
     background-color: #efefef;
}

.types-table .cell1 {
    min-width: 190px;
}

.types-table .cell2 {
}

.types-table .cell3 {
padding-right: 85px;
}

.contacts {
    padding-top: 50px;
    padding-bottom: 55px;
    background-color: #efefef;
}

.contacts .container {
    display: table;
    clear: both;
    content: "";
}

.contacts-title {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 45px;
    font-family: Trebuchet MS;
    line-height: 48px;
}

.contacts-form {
    float: left;
    width: 590px;
    margin-right: 30px;
    padding-right: 50px;
}

.contacts-form td {
    padding-bottom: 30px;
    min-width: 100px;
}

.contacts-form .title {
    text-align: right;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.contacts-form .field {
    width: 100%;
}

.contacts-form input[type="text"],
.contacts-form textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 23px;
    font-weight: 400;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 24px;
    outline: none;
    border: 2px solid #b2b2b2;
    border-radius: 2px;
}

.contacts-form textarea {
    min-height: 100px;
    border-radius: 3px;
    margin-bottom: -10px;
}

.contacts-form .btn {
    width: 100%;
    border-radius: 3px;
    background-color: #382d78;
}

.contacts-instruction {
    float: right;
    width: 320px;
}

.contacts-instruction h3 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 30px;
}

.contacts-instruction p {
    margin: 0;
    margin-bottom: 25px;
    color: #555555;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 24px;
}

.contacts-instruction .contacts-alert {
    margin-top: 45px;
    margin-bottom: 0;
}

.main-footer {
   background-color: #2a2546;
    padding-top: 65px;
    padding-bottom: 80px;
    font-size: 18px;
    line-height: 24px;
    font-family: Tahoma;
    color: #ffffff;
    
}

.footer-top {
    min-height: 50px;
    display: table;
    clear: both;
    content: "";
}

.footer-address {
    float: left;
    margin-right: 40px;
    width: 300px;
}

.footer-address .logo {
    float: none;
}

.footer-address p {
    margin: 0;
    margin-top: 75px;
}

.footer-menu {
    float: left;
    width: 180px;
    margin-top: 25px;
}

.footer-menu:last-child {
    float: right;
    width: 135px;
    margin-left: 5px;
}

.footer-menu h3 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    margin-bottom: 24px;
}

.footer-menu a {
    color: #bcb3f2;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu a:active {
    text-decoration: none;
    opacity: 0.3;
}












